@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
@font-face {
    font-family: "museo";
    src: url("../_font/Museo v7 by ihint.ttf");
}
body{
    background: #431F13;
    font-family:Arial;
}

.content {
    background-color: #431F13;
}

span.reference{
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:12px;
}

span.reference a{
    color:#aaa;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:1px 1px 1px #000;
    margin-right:30px;
}

span.reference a:hover{
    color:#ddd;
}

ul.sdt_menu{
    margin-top:150px;
}

h1.title{
    font-family: 'museo', sans-serif;
    font-size: 25pt;
    margin-left: 155px;
    margin-bottom: -2px;
    width:980px;
    height:69px;
    color: #D9AD42;
    text-shadow: 2px 2px 4px #000;
    /* background: url(../images/6.png) no-repeat top left; */
}

.title img {
    width: 8%;
    padding-bottom: 10px;
    position: relative;
    top: -25%;
    left: 2%;
}

.title span {
    float: right;
}

ul.sdt_menu{
	margin:auto;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:90%;
}

ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}

ul.sdt_menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
}

ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:85px;
	z-index:12;
	background:transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}

ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}

ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}

ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#DDC288;
	top:85px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}

ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}

ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}

ul.sdt_menu li span span.sdt_descr{
	color: #FBC90B;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}

ul.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:170px;
	top:85px;
	left:0px;
	display:none;
	background:#EEDFC1;
}

ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#FBC90B;
}

ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}

ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}