
<form method="post" id="fContato" action="lw/envia.php">
    <fieldset id="usuario"><legend>Fale Conosco</legend><br>
        <p><label for="cNome">Nome*</label><br><input type="text" name="tNome" id="cNome" size="25" maxlength="50"/></p>
        <p><label for="cMail">E-mail*</label><br><input type="email" name="tMail" id="cMail" size="25" maxlength="50"/></p>
        <p><label for="cAssunto">Assunto</label><br>
            <select name="cAssunto" id="cAssunto">
                <option>Selecione...</option>
                <option>Sugestões</option>
                <option>Reclamações</option>
                <option>Dúvidas</option>
                <option>Outros</option>
            </select>
        </p>
        <p><label for="cTel">Telefone</label><br><input type="tel" name="tTel" id="cTel" size="25" maxlength="18" placeholder="(0xx) + número"/></p>

        <p><label for="cMsg">Mensagem*</label><br><textarea name="tMsg" id="cMsg" cols="55" rows="5" placeholder="Deixe aqui sua mensagem"></textarea></p>
        <input type="submit" value="Enviar" id="botao"/>
        <h3>*Preenchimento Obrigatório</h3>
    </fieldset><br>
</form>
