@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
@font-face {
    font-family: "museo";
    src: url("../_font/Museo v7 by ihint.ttf");
}

form {
    width: 650px;
    margin: auto;


}

form h4 {
    font-family: museo;
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
}

input, textarea, select, option {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 11pt;
    border-radius: 5px;
    border: solid 1px #D9AD42;

}

input:hover, textarea:hover {
    background-color: #f1f1f1;
}

label {
    font-family: 'Alegreya', sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    color: #431F13;
}

fieldset {
    border-color: #D9AD42;
    margin: 50px 30px 30px 30px;
    padding-left: 50px;
    border-radius: 15px;
}

legend {
    font-family: museo;
    color: #431F13;
    font-weight: bold;
}

form input#cNome {
    position: relative;
    padding-left: 5px;
    width: 300px;
}

form input#cMail {
    position: relative;
    padding-left: 5px;
    width: 300px;
}

form input#cIdade {
    position: relative;
    padding-left: 5px;
}

form input#cProf {
    position: relative;
    padding-left: 5px;
}

form input#cCidade {
    position: relative;
    padding-left: 5px;
}

form input#cTel {
    position: relative;
    padding-left: 5px;
    width: 200px;
}

form textarea#cMsg {
    padding-left: 5px;
}

form input#botao {
    background-color: #D9AD42;
    width: 150px;
}

#cAssunto, #cValor {
    width: 210px;
}

#botao:hover {
    background-color: #DDC288;
}

.navegacao {
    margin: auto auto auto auto;
    padding: 0px;
    text-align: left;
    width: 100%;
    color: #DDC288;

}

.navegacao a {
    text-decoration: none;
    margin: auto auto auto;
    padding: 10px 10px 10px 10px;
    color: #DDC288;

}

.navegacao a:hover {
    background-color: #EEDFC1;
    border-radius: 5px 5px 0px 0px;
    text-decoration: underline;
}

.navegacao #ativo {
    border-left: solid 1px #DDC288;
    border-top: solid 1px #DDC288;
    border-right: solid 1px #DDC288;
    border-radius: 5px 5px 0px 0px;
    color: #5D491D;
    background-color: #EEDFC1;
    text-decoration: none;
}